<aside
  class="fixed left-0 top-0 z-40 h-screen transition-all duration-300 ease-in-out border-r border-base-content/10 bg-base-100 flex flex-col"
  [ngClass]="sidebarService.isOpen() ? 'w-64' : 'w-16 overflow-visible'">

  <div class="flex flex-col h-full pt-20">
    <ul class="menu w-full grow px-2 gap-1.5">

      @for (item of menuItems; track item.label) {
      <li>
        <button class="flex items-center transition-all duration-200"
          [attr.data-tip]="!sidebarService.isOpen() ? item.label : null" [ngClass]="{
              'tooltip tooltip-right justify-center px-0 w-full py-3': !sidebarService.isOpen(),
              'px-4 gap-4 py-3': sidebarService.isOpen()
            }">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
            stroke-width="2" fill="none" stroke="currentColor" class="size-5 shrink-0">
            <path [attr.d]="item.iconPath"></path>
          </svg>

          <span class="transition-all duration-300 ease-in-out whitespace-nowrap overflow-hidden"
            [ngClass]="sidebarService.isOpen() ? 'opacity-100 w-auto' : 'opacity-0 w-0 h-0 invisible'">
            {{ item.label }}
          </span>
        </button>
      </li>
      }

    </ul>
  </div>
</aside>
