<app-main>
  <div class="relative flex items-center p-4">

    <button (click)="handleSignOut()" class="px-4 py-2 text-sm font-semibold text-red-800 border border-red-600 rounded-lg shadow
             hover:bg-red-800 hover:text-white transition duration-200">
      Sign Out
    </button>

    <h1 class="absolute left-1/2 -translate-x-1/2 text-lg font-semibold">
      Dashboard
    </h1>

  </div>

  <div class="p-6">
    <p>Welcome back! You are successfully authenticated.</p>
  </div>
</app-main>